# Training Object detector.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
# !rm -rf "/content/drive/My Drive/src/img"

In [14]:
%cd "/content/drive/My Drive/src/"

/content/drive/My Drive/src

In [ ]:
!unzip "img.zip"

In [ ]:
!nvidia-smi

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/drive/My Drive/src/final_data.csv")

In [5]:
df.head()

   Unnamed: 0  ... final_target
0           0  ...           17
1           1  ...           17
2           2  ...           17
3           3  ...           17
4           4  ...            8

[5 rows x 8 columns]

In [6]:
import numpy as np

In [7]:
df = df.drop(["Unnamed: 0", "target"], axis=1)

In [8]:
df

                                                image_id  ...  final_target
0      img/WOMEN/Blouses_Shirts/id_00000001/02_1_fron...  ...            17
1      img/WOMEN/Blouses_Shirts/id_00000001/02_2_side...  ...            17
2      img/WOMEN/Blouses_Shirts/id_00000001/02_3_back...  ...            17
3      img/WOMEN/Blouses_Shirts/id_00000001/02_4_full...  ...            17
4           img/WOMEN/Dresses/id_00000002/02_1_front.jpg  ...             8
...                                                  ...  ...           ...
52707  img/WOMEN/Jackets_Coats/id_00007982/12_7_addit...  ...            11
52708  img/WOMEN/Jackets_Coats/id_00007982/13_1_front...  ...            11
52709  img/WOMEN/Jackets_Coats/id_00007982/13_2_side.jpg  ...            11
52710  img/WOMEN/Jackets_Coats/id_00007982/13_3_back.jpg  ...            11
52711  img/WOMEN/Jackets_Coats/id_00007982/13_7_addit...  ...            11

[52712 rows x 6 columns]

In [9]:
print(df['final_target'][0].dtype)

int64

In [10]:
print(np.unique(df['final_target']))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [11]:
# df_val = df[int(len(df) * 3 // 4): ]
# df_val.to_csv("df_val.csv", index=False)

In [12]:
%cd "/content/drive/My Drive/src"
%pwd

/content/drive/My Drive/src

'/content/drive/My Drive/src'

In [ ]:
!python train.py